
#logo{
    background-color: #0e0e0e;
    margin-top: 10px;
    width: 80px;

}
.bot{
    background-color: #0e0e0e;
    border: 0;
    color:#ffffff;
    font-size: 1.5em;
    margin-right: -4px;
    padding: 35px 40px 40px 40px;
    height: 100px;
    font-family: 'Teko', sans-serif;
}
.bot:hover{
    background-color: #007fff;
    color: black;
}
#topo{
    background-color: #0e0e0e;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    border: 0;
    border-bottom: solid 5px #007fff;
}
.login{
    background-color: #0e0e0e;
    color: #ffffff;
    font-size: 1.2em;
    border: 0 solid;
    margin-left: 500px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-family: 'Teko', sans-serif;
    border-radius: 100px;
    outline: none;
}
.register{
    font-family: 'Teko', sans-serif;
    font-size: 1.2em;
    background-color: #008080;
    color: black;
    border: 0 solid;
    border-radius: 100px;
    outline: none;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
}
.login:hover{
    background-color: #008080;
    color:#000000;
}
.register:hover{
    color: #ffffff;
}
.container > div{
    display:inline-block;
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 40px;
    border: solid gray 1px;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.5);
    width: 200px;
    background-color: white;
}
.container > div:hover{
    transform: scale(1.1);
}
.container h2{
    text-align: center;
    margin:0;
}
.tags{
    padding: 10px;
}
.bestseller{
    font-size: 0.7em;
    padding: 1px 5px 1px 5px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: hotpink;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}
.mostwatched{
    font-size: 0.7em;
    padding: 1px 5px 1px 5px;
    border:solid 1px gray;
    border-radius: 10px;
    background-color: slateblue;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 3px;
}
.bestseller:hover{
    background-color: pink;
}
.mostwatched:hover{
    background-color: #9966cc;
}
.wishlist{
    font-size: 0.7em;
    padding: 1px 5px 1px 5px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: yellowgreen;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}
.wishlist:hover{
    background-color: olive;
}
.begginer{
    font-size: 0.7em;
    padding: 1px 5px 1px 5px;
    border:  solid 1px gray;
    border-radius: 10px;
    background-color: mediumturquoise;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}
.begginer:hover{
    background-color: mediumspringgreen;
}
.top > div{
    display: inline-block;
    margin-top: 120px;
    border: solid black 3px;
    background-color: #ff9333;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 3em;
}
.top{
    text-align: center;
}