
#headmaster{
    display: flex;
    justify-content: space-between;
    background-color: #0e0e0e;
    width: 101%;
    position: fixed;
    margin-top: -10px;
    margin-left:-10px;
    align-items: center; 
    border-bottom: #007fff solid 3px; 
}
#logo{
    width: 80px;
}
.esquerda{
    display: flex;
    justify-content: flex-start;
}
.direita{
    display: flex;
    justify-content: space-around;
}
.bot{
    border: 0;
    outline: none;
    background-color: #0e0e0e;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 1.2em;
    width: 100px;
}
.login{
    background-color: #0e0e0e;
    color: #ffffff;
    font-size: 1.2em;
    border: 0px solid white;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-family: 'Teko', sans-serif;
    border-radius: 100px;
    outline: none;
}
.register{
    font-family: 'Teko', sans-serif;
    font-size: 1.2em;
    background-color: #008080;
    color: black;
    border: 1px black solid ;
    border-radius: 100px;
    outline: none;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    margin-right: 22px;

}
.bot:nth-child(3){
    background-color: #007fff;
}
.bot:hover{
    background-color: #007fff;
    color: black;
}
.bot:active{
    background-color: #005fff;
    color:black;
}
.login:hover{
    color:gray;
    border: 1px solid gray;
}
.register:hover{
    color:white;
}
.login:active{
    border: 1px solid #0e0e0e;
}
.register:active{
    background-color: #0e0e0e;
    color: white;
}
.container{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.titulo{
    margin-top: 90px;
    font-size: 3em;
    padding: 3px 5px 3px 5px;
    border:solid 5px black;
    background-color: #ff9333;
}
.cards{
    display:flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.cpp{
    display: flex;
    align-items: flex-start;
    justify-content:space-between; 
    border: solid 1px gray;
    border-radius: 5px;
    flex-direction:column;
    flex-wrap:wrap;
    width:200px;
    margin-right:70px;
    margin-bottom: 40px;
    background-color: white;
}
.cpp:hover{
    transform: scale(1.1);
}
.java{
    display: flex;
    align-items: flex-start;
    justify-content:space-around; 
    border: solid 1px gray;
    border-radius: 5px;
    flex-direction:column;
    flex-wrap:wrap;
    width:200px;
    margin-right:70px;
    margin-bottom: 40px;
    background-color: white;
}
.javascript{
    display: flex;
    align-items: flex-start;
    justify-content:space-around; 
    border: solid 1px gray;
    border-radius: 5px;
    flex-direction:column;
    flex-wrap:wrap;
    width:200px;
    margin-right:70px;
    margin-bottom: 40px;
    background-color: white;
}
.node{
    display: flex;
    align-items: flex-start;
    justify-content:space-around; 
    border: solid 1px gray;
    border-radius: 5px;
    flex-direction:column;
    flex-wrap:wrap;
    width:200px;
    margin-right:70px;
    margin-bottom: 40px;
    background-color: white;
}
.python{
    display: flex;
    align-items: flex-start;
    justify-content:space-around; 
    border: solid 1px gray;
    border-radius: 5px;
    flex-direction:column;
    flex-wrap:wrap;
    width:200px;
    margin-right:70px;
    margin-bottom: 40px;
    background-color: white;
}
.python:hover{
    transform: scale(1.1);
}
.node:hover{
    transform: scale(1.1);
}
.javascript:hover{
    transform: scale(1.1);
}
.java:hover{
    transform: scale(1.1);
}
.bestseller{
    font-size: 0.7em;
    padding: 1px 5px 1px 5px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: hotpink;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}
.mostwatched{
    font-size: 0.7em;
    padding: 1px 5px 1px 5px;
    border:solid 1px gray;
    border-radius: 10px;
    background-color: slateblue;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 3px;
}
.bestseller:hover{
    background-color: pink;
}
.mostwatched:hover{
    background-color: #9966cc;
}
.wishlist{
    font-size: 0.7em;
    padding: 1px 5px 1px 5px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: yellowgreen;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}
.wishlist:hover{
    background-color: olive;
}
.begginer{
    font-size: 0.7em;
    padding: 1px 5px 1px 5px;
    border:  solid 1px gray;
    border-radius: 10px;
    background-color: mediumturquoise;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}
.begginer:hover{
    background-color: mediumspringgreen;
}

